{% extends 'base.html' %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  
  <div class="sample">
    <img src="{{ url_for('static', filename='images/' + book.image) }}" alt="{{ book.title }}" title="{{ book.title }}">
    <h1>{{ book.title }}</h1>
    <a href="{{ url_for('detail_author', id=book.author.id) }}">{{ book.author.name }}</a>
    <p><i>{{ book.price }}€</i></p>
    <a href="{{book.url}}">Buy on Amazon</a>
   {% if book not in current_user.fav_books %}
        <form action="{{ url_for('add_favorite', book_id=book.id, next=url_for('home')) }}" method="POST">
          <button type="submit" class="btn btn-warning material-icons">favorite</button>
       </form>
       {% else %}
       <form action="{{ url_for('remove_favorite', book_id=book.id, next=url_for('home'))}}" method="POST">
        <button type="submit" class="btn btn-danger material-icons">cancel</button>
       </form>
{% endif %}
  </div>
{% endblock %}